### Bower ###
extension/assets/lib
.bower-cache
.bower-registry
.bower-tmp

### NPM ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

### Tocando Agora (beta) ###
extension.zip